<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Test2</title>
    <style>
        body {
            padding-top: 60px; /* 헤더 높이만큼 여백 추가 */
        }
    </style>

</head>
<body style="background-color: #ef5afa;">
<th:block th:include="~{/fragments/header}"></th:block>
<H1>Keycloak Role Test Site-3 : Admin-Test2 (Authorization(ROLE) : Keycloak)</H1>
<BR>
[ 메뉴 이동 ]<BR>
<a href="/admin/admin-test1">Go Admin-Test1</a><BR>
<a href="/admin/admin-test2">Go Admin-Test2</a><BR>

<a href="/user/user-test1">Go User-Test1</a><BR>
<a href="/user/user-test2">Go User-Test2</a><BR>

<HR>

[ Site 이동 ]<BR>
<a href="#">Go Site1...</a>                              | <a th:href="${SITE_URL1 + '/login/profile'}">Get Site1 Token</a> <BR>
<a th:href="${SITE_URL2 + '/login_sso'}">Go Site2...</a> | <a th:href="${SITE_URL2 + '/login/profile'}">Get Site2 Token</a> <BR>
<a th:href="${SITE_URL3 + '/login_sso'}">Go Site3...</a> | <a th:href="${SITE_URL3 + '/login/profile'}">Get Site3 Token</a> <BR>

<BR>
<BR>
<a sec:authorize="isAnonymous()" href="/login-sso"> [ LOGIN ] </a>
<a sec:authorize="isAuthenticated()" href="/logout"> [ LOGOUT ] </a>

</body>
</html>